.marquee-container{
    display: flex;
    align-items: center;
    background: #000;
    overflow: hidden;
}
.marquee{
    color: #F8DBCB;
    white-space: nowrap;
    animation: marquee 12s infinite linear; 
}

.marquee:after{
    content: "  © 2022 YANGA MODEL MANAGEMENT. ALL RIGHTS RESERVED.  ";
}

@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}