

.marquee {
    white-space: nowrap;
    overflow: hidden;
}

.marquee {
    display: inline-block;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    100%{
        transform: translate(-100%, 0);
    }
}